
.all-jobs-container-main {
    flex-grow: 1;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.all-jobs-container-title {
    display: flex;
    -webkit-text-stroke: 1px red;
    color: black;

}

.all-jobs-container-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.all-jobs-container-job {
    display: flex;
    flex-direction: column;
}

