.container-contact-main {
    background-color: rgba(116, 114, 125, .9);    
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    
}

.container-contact-intro {
    /* background-color: rgba(116, 114, 125, .6);     */
    width: 100%;
    /* align-items: center; */
    text-align: center;
    margin: 1%;
}

.container-contact-intro p {
    /* background-color: rgba(116, 114, 125, .6);     */
    width: 95%;
    /* align-items: center; */
    text-align: left;
    /* margin-top: 1%; */

}


/* .container-contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
}

.container-contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-icon {
    
    align-self: middle;
}

.item-info {
    margin-left: 2%;
}

.item-info a {
    text-decoration: none;
    color: black;

} 
*/

.container-contact-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    align-self: center;
  }
  
  .container-contact-item {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
  }
  
  .item-info {
    margin-left: 1rem;
    margin-top: 4%;
  }
  
  .item-icon {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .item-info a {
    text-decoration: none;
    color: black;
    
}