/* 
align-items: center;
align-self: center;
align-content: center;
justify-content: center;
justify-items: center;
justify-self: center;
*/

.container-division {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.container-job {
  /* background-color: darkgray; */
  position: relative; 
  /* Make the container a relative positioning context */
}


.offset-heading {
  position: relative;
  vertical-align: middle;
  z-index: 1; /* Set a higher z-index than the image to make it appear in front */
  transition: opacity 0.5s ease-out; /* Add a transition effect to the opacity property */
  top: 0px;
  
}

.hidden {
  opacity: 0; /* Set the opacity to 0 to hide the element */
}

.box-lbk {
  --s: 250px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: red; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid rgba(116, 114, 125, 0.6);
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
  margin: 30px;
  /* border-radius: 10px; */
  text-align: center;
  text-decoration: none;
  
}
.box-lbk:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.box-lbk +  {
  border-radius: 50%;
}



