/* @import url('https://fonts.googleapis.com/css?family=VT323&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");


html, body, #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/* .footer {
    display: flex;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF8C;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0%;
    width: 100%;
    visibility: visible;
    height: fit-content;
    border: 2px solid red;
    
    margin-top: auto;
}

.footer-inline {
    bottom: 0%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #212525;
}

.footer-inline a {
    text-decoration: none;
    color: gray;
}



.footer-inline h5 {
    color: gray;
}

.footer-copyright {
    display: flex;
    margin-left: 2% ;
   
}

.footer-address {
    display: flex;
    float: right;
    margin-right: 5%;
} */


/* .footer-inline {
    bottom: 0%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #212525;
} */

.section_padding {
    padding: 1rem 1rem;
}

.footer {
    background-color: #2d2d32;
    bottom: 0%;
    width: 100%;


}

.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer-links {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    /* margin-bottom: 2rem; */
    @media (max-width: 767px) {
        /* align-items: center ; */
        justify-content: center;
        text-align: center;
      }
}

.sb_footer-links-div {
    display: flex;
    width: 200px;
    margin: 1rem;
    justify-content: flex-start;
    flex-direction: column;
    color: white;

    
}

.sb_footer-links-div h5 {
    font-size: 16px;
    line-height: 17px;
    margin-bottom: .9rem;
}

.sb_footer-links-div p {
    font-size: 14px;
    line-height: 17px;
    margin: .5rem 0;
    cursor: pointer;
}

.sb_footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .2rem;
}

/* .sb_footer-below-links {
    display: flex;
    flex-direction: row;
} */

.sb_footer-below p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: rgb(175, 175, 179);
    font-weight: 600;
}

hr {
    color: white !important;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .sb_footer-heading h1 {
        font-size: 44px;
        line-height: 50px;

    }
}

@media screen and (max-width: 550px) {
    .sb_footer-heading h1 {
        font-size: 34px;
        line-height: 42px;

    }

    .sb_footer-links div {
        margin: 1rem 0;
    }

    /* .sb_footer-btn p {
        font-size: 14px;
        line-height: 20px;
    } */

    .sb_footer-below {
        flex-direction: column;
        justify-content: left;
    }

    .sb_footer-below-links {
        flex-direction: column;
      
    }

    .sb_footer-below-links p {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .sb_footer-heading h1 {
        font-size: 27px;
        line-height: 38px;

    }
}

.footer_navlink {
    text-decoration: none;
    color: rgb(175, 175, 179);
}

.footer_a {
    text-decoration: none;
    color: rgb(175, 175, 179);
}