
.container-main {
  display: flex;
  flex-grow: 1;
}

.container-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

    
  }

.container-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    /* background-color: rgba(116, 114, 125, .7);
    border-color: red;
    border-style: solid ;
    border-width: 3px;
    border-radius: 10px; */
  }

.text-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: red; */

}

.text-home h4 {
  color: red;
}

.text-home h6 {
  color: rgb(0, 0, 0);
}






.box {
    --s: 250px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 14px;    /* the gap */
    --c: red; /* the color */
    
    /* width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid rgba(116, 114, 125, 0.6);
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
    margin: 30px; */
    
  }
  /* .box:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
  
  .box +  {
    border-radius: 50%;
  } */


  /* .navlinks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navlink {
    width: 40%;
    text-align: center;
    padding: 1%;
    margin: 1%;
    background-color: grey;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  } */