.container-business-main {
    /* background-color: rgba(116, 114, 125, .9);     */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}

.test {
  flex-grow: 1;
}

.container-business-intro {
    /* background-color: rgba(116, 114, 125, .6);     */
    width: 95%;
    align-items: center;
    text-align: center;
    margin-top: 1%;
    
}

.container-business-intro p {
    /* background-color: rgba(116, 114, 125, .6);     */
    /* width: 90%; */
    align-items: center;
    text-align: left;
    margin-top: 1%;
}


.container-business-cards {
  /* background-color: yellow; */
  flex-wrap: wrap;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.business-card-container {
    display: flex;
    align-items: center;
    /* width: 370px; */
    width: 300px;
    height: 120px;
    /* background-color: #f1f1f1; */
    margin: 1%;
    border: 2px solid red;
    border-radius: 10px;
   justify-content: center;
  }

.business-card-container-boss{
  display: flex;
  flex-direction: row;
}

.business-card-container-employee{
  display: flex;
  flex-direction: column;
}
  
  .logo-container {
    height: 80%;
    margin-left: 10%;
    border-right: 1.5px solid red;
    width: 50%;
  }
  
  .logo-container img {
    max-width: 100%;
    
  }
  
  .contact-info-container {
    height: 100%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    

  }
  
  .contact-info-container h5 {
    margin-top: 2%;
    
  }
  
  .contact-info-container p {
    margin-bottom: 2%;
    color: rgb(92, 91, 91);
  }

  .contact-info-container a {
    margin-bottom: 2%;
    color: gray;
    text-decoration: none;  }
  
 

  /* .business-card-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .logo-container {
    height: 100%;
    margin-right: 20px;
    border-right: 1px solid #ccc;
  }
  
  .logo-container img {
    max-width: 100%;
  }
  
  .contact-info-container {
    flex-grow: 1;
    height: 100%;
  }
  
  .contact-info-container h2 {
    margin-top: 0;
  }
  
  .contact-info-container p {
    margin-bottom: 5px;
  } */



  .container-contact-main {
    /* background-color: rgba(116, 114, 125, .9);     */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    
}

.container-contact-intro {
    /* background-color: rgba(116, 114, 125, .6);     */
    width: 100%;
    /* align-items: center; */
    text-align: center;
    margin-left: 2.5%;
}

.container-contact-intro p {
    /* background-color: rgba(116, 114, 125, .6);     */
    width: 95%;
    /* align-items: center; */
    text-align: left;
    /* margin-top: 1%; */

}

.container-contact-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    align-self: center;
  }
  
  .container-contact-item {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
  }
  
  .item-info {
    margin-left: 1rem;
    margin-top: 4%;
  }
  
  .item-icon {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .item-info a {
    text-decoration: none;
    color: black;
    
}